

.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 0px;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.search-bar {
  position: absolute;
  right: 20px;
  top: 35%;
}

.search-bar input {
  margin-right: 10px;
  border-style: none;
  border-bottom: 1px solid gray;
}

/* .product-card {
  margin: 0;
} */

.product-img {
  width: 261px;
  margin: 5px 0;
}

.product-img:hover {
  width: 271px;
}